{% extends "model_page.html" %}

{% block content %}
    <main>
        <div class="container">
            <form action="submit" method="POST" id="register_post">{% csrf_token %}
                <div class="row">
                    <div class="col-25">
                      <label for="ftitle">Title</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="{{ post.title }}" name="title" placeholder="title">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="content">Content</label>
                    </div>
                    <div class="col-75">
                      <textarea id="content" name="contentt" placeholder="Write something.." style="height:200px" form="register_post">{{ post.content }}</textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="lname">Tags</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="{{ post.tags }}" name="tags" placeholder="tags">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <input type="submit" value="Submit">
                    <input type="reset" value="clear">
                  </div>
            </form>
                
        </div>
    </main>
{% endblock %}