{% extends "model_page.html" %}

{% block content %}
<body>
    {% for post in page_obj %}
    <section>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>{{ post.tags }}</p>
        {% if user.is_authenticated %}
        <form method="GET" action="{% url 'app:update_post' id=post.id %}">
            <button type="submit">Update</button>
        </form>
        <form method="POST" action="{% url 'app:delete_post' id=post.id %}">{% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% endif %}
    </section>
    <br>
    {% endfor %}
</body>
{% endblock %}