{% extends 'model_page.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="POST" action="{% url 'submit_login' %}">{% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  {% if error_message %}
    <p class="error">{{ error_message }}</p>
  {% endif %}
{% endblock %}
