<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HG</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <header>
        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "25%";
            }
            
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
        <div class="header">
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>
                </div>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
    </header>

    <main class="main">
        {% block content %} {% endblock %}
    </main>

    <footer>
        <div class="footer">
            <p>Developed by Henrique Gonzaga</p>
        </div>
    </footer>
    
</body>
</html>