{% load i18n %}

<div class="study study-list-item">
  <div class="study-title-container">
    <h2 class="study-title">
      {{ mystudies.title }}
    </h2>
  </div>
  
  <div class="study-date-container">
    <h2 class="study-title">
      School: {{ mystudies.school }}
    </h2>
  </div>
  
  <div class="study-date-container">
    <span class="study-date">
      <i class="fa fa-calendar"></i>
      Start date: {{ mystudies.start_date|date:"Y/m/d" }} - 
      End date: {{ mystudies.end_date|date:"Y/m/d" }}
    </span>
  </div>

  <div class="study-content">
    <p>{{ mystudies.description }}</p>
  </div>

  <footer class="recipe-footer">
    <a class="recipe-read-more button button-dark button-full-width" href="{{ mystudies.link }}" target="_blank">
        <i class="fa fa-eye"></i>
        <span>see more about the course here...</span>
    </a>
</footer>
  
</div>
