{% extends "model_page.html" %}

{% block content %}

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">My journey</h3>
  <p class="w3-center"><em>The road to become a Python Developer</em></p>
  <p>Hello, nice to meet you!</p>
  <p>My name is Henrique Gonzaga, Brazilian, born in Belo Horizonte, Brazil, and thank you very much for visiting my website.</p>
  <p>I had traveled a long road until I discovered my passion for programming and became a Python programmer. I hope you can enjoy the journey I will take you through to discover my story about myself.</p>
  <p>After finishing school, I ventured into a History degree at <i>Universidade Federal de Ouro Preto</i>, but after not adapting well to the course, I decided to pursue a degree in Law at <i>Milton Campos</i> in Belo Horizonte, and after 2 years of trying, I realized it wasn't my calling. After these two failed attempts, I decided to venture into the field of sports, as it is a passion of mine, and I also decided to move to a different country for a better future perspective, moving to Italy. There, I completed my Bachelor's degree in Sports Sciences. After those 3 years of living there, I decided to move to Portugal, new horizons, why not? As you may have noticed, I'm always seeking new challenges. In Portugal, I completed my Master's degree in Sports Sciences, and throughout my educational journey, I had various experiences as a football coach, mainly with children aged 7 to 12.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Henrique Gonzaga</b></p><br>
      <img src="..\static\css\IMG-20230401-WA0029.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="250" height="152">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <p>After completing my Master's degree and entering the job market in the world of sports, I realized that professional satisfaction was extremely low, so I decided to try changing fields. After experimenting with a few areas, I tried programming and discovered that I really enjoy it, and upon encountering the Python language, I truly love it. Since then, I've been investing heavily in my training as a programmer.</p>
      <p>Since then, I've been attending bootcamps to become a web developer using Python and Django, and I'm always seeking my professional growth by developing personal projects (check them <a href="{% url 'my_projects' %}" target="_blank">here)</a> and trying to contribute to open-source projects.</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">I am really good at:</p>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Python (Django / Flask)</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:80%">80%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Web Development</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>API (Rest / Restful)</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-git"></i>Git</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-github"></i>GitHub</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>HTML / CSS</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:65%">65%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>DataBase (SQL / MongoDB)</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Bootstrap</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:50%">50%</div>
  </div>
</div>
{% endblock %}