{% extends "model_page.html" %}

{% block content %}

<div class="img-myproject w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-topleft" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity">HAG <span class="w3-hide-small">Python</span> Dev</span>
  </div>
</div>

    {% for myprojects in page_obj %}
<section>
    <div class="w3-main" style="margin-left:250px">

        <div class="w3-row w3-padding-64">
          <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">{{ myprojects.name }}</h1>
            <p class="w3-text-teal"><a href="{{ myprojects.link }}" target="_blank">{{ myprojects.link }}</a></p>
            <p><a href="{{ myprojects.readme }}" target="_blank">Readme</a></p>
            <p>{{ myprojects.resume }}</p>
            {% if user.is_authenticated %}
              <form method="GET" action="{% url 'update_my_project' id=myprojects.id %}">
                <button type="submit">Update</button>
              </form>
              <form method="POST" action="{% url 'delete_my_project' id=myprojects.id %}">{% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            {% endif %}
          </div>
        </div>
    </div>
</section>
    {% endfor %}

{% endblock %}
